/* Boilerplate: https://github.com/JamesRobertHugginsNgo/field-input/blob/e39b0130c98b3628edf5dbb700290e20d65bb375/src/style.css */
/* Boilerplate: https://github.com/JamesRobertHugginsNgo/field-input/blob/1.1.1/src/style.css */
/* Boilerplate: https://raw.githubusercontent.com/JamesRobertHugginsNgo/field-input/refs/tags/1.1.1/src/style.css */

.field-input {
	background-color: white;
	border: 1px solid lightgrey;
	border-radius: 0.25rem;
	color: black;
	font-size: 0.875em;
	line-height: normal;
	padding: 0.5rem;

	&[disabled],
	&[readonly] {
		background-color: #eeeeee;
		color: black;
		cursor: not-allowed;

		&:is([disabled]) {
			color: #777777;
		}
	}

	&:is(input[type="number"].field-input-currency) {
		background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiB2aWV3Qm94PSIwIDAgMTYgMTYiPgogIDxwYXRoIGQ9Ik00IDEwLjc4MWMuMTQ4IDEuNjY3IDEuNTEzIDIuODUgMy41OTEgMy4wMDNWMTVoMS4wNDN2LTEuMjE2YzIuMjctLjE3OSAzLjY3OC0xLjQzOCAzLjY3OC0zLjMgMC0xLjU5LS45NDctMi41MS0yLjk1Ni0zLjAyOGwtLjcyMi0uMTg3VjMuNDY3YzEuMTIyLjExIDEuODc5LjcxNCAyLjA3IDEuNjE2aDEuNDdjLS4xNjYtMS42LTEuNTQtMi43NDgtMy41NC0yLjg3NVYxSDcuNTkxdjEuMjMzYy0xLjkzOS4yMy0zLjI3IDEuNDcyLTMuMjcgMy4xNTYgMCAxLjQ1NC45NjYgMi40ODMgMi42NjEgMi45MTdsLjYxLjE2MnY0LjAzMWMtMS4xNDktLjE3LTEuOTQtLjgtMi4xMzEtMS43MTh6bTMuMzkxLTMuODM2Yy0xLjA0My0uMjYzLTEuNi0uODI1LTEuNi0xLjYxNiAwLS45NDQuNzA0LTEuNjQxIDEuOC0xLjgyOHYzLjQ5NWwtLjItLjA1em0xLjU5MSAxLjg3MmMxLjI4Ny4zMjMgMS44NTIuODU5IDEuODUyIDEuNzY5IDAgMS4wOTctLjgyNiAxLjgyOC0yLjIgMS45MzlWOC43M3oiLz4KPC9zdmc+");
		background-position: center left 0.5rem;
		background-repeat: no-repeat;
		padding-left: 2rem;
	}

	&:is(input[type="search"]) {
		background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiB2aWV3Qm94PSIwIDAgMTYgMTYiPgogIDxwYXRoIGQ9Ik0xMS43NDIgMTAuMzQ0YTYuNSA2LjUgMCAxIDAtMS4zOTcgMS4zOThoLS4wMDFxLjA0NC4wNi4wOTguMTE1bDMuODUgMy44NWExIDEgMCAwIDAgMS40MTUtMS40MTRsLTMuODUtMy44NWExIDEgMCAwIDAtLjExNS0uMXpNMTIgNi41YTUuNSA1LjUgMCAxIDEtMTEgMCA1LjUgNS41IDAgMCAxIDExIDAiLz4KPC9zdmc+");
		background-position: center left 0.5rem;
		background-repeat: no-repeat;
		padding-left: 2rem;
	}

	&:is(select):not([multiple]) {
		appearance: none;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiB2aWV3Qm94PSIwIDAgMTYgMTYiPgogIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTMuNjQ2IDkuMTQ2YS41LjUgMCAwIDEgLjcwOCAwTDggMTIuNzkzbDMuNjQ2LTMuNjQ3YS41LjUgMCAwIDEgLjcwOC43MDhsLTQgNGEuNS41IDAgMCAxLS43MDggMGwtNC00YS41LjUgMCAwIDEgMC0uNzA4bTAtMi4yOTJhLjUuNSAwIDAgMCAuNzA4IDBMOCAzLjIwN2wzLjY0NiAzLjY0N2EuNS41IDAgMCAwIC43MDgtLjcwOGwtNC00YS41LjUgMCAwIDAtLjcwOCAwbC00IDRhLjUuNSAwIDAgMCAwIC43MDgiLz4KPC9zdmc+");
		background-position: center right 0.5rem;
		background-repeat: no-repeat;
		padding-right: 2rem;
	}

	.field.field-error.show-field-error & {
		border-color: darkred;
	}
}