/* BOILERPLATE: https://github.com/JamesRobertHugginsNgo/field-button/blob/1.0.2/src/style.css */
/* BOILERPLATE: https://raw.githubusercontent.com/JamesRobertHugginsNgo/field-button/refs/tags/1.0.2/src/style.css */

.field-button {
	background-color: white;
	border: 1px solid darkgrey;
	border-radius: 0.25rem;
	color: black;
	cursor: pointer;
	font-size: 0.875em;
	line-height: normal;
	padding: 0.5rem 1rem;

	&:hover {
		background-color: #eeeeee;
		color: black;
	}

	&:active,
	&:visited {
		background-color: white;
		color: black;
	}

	&[disabled] {
		background-color: #eeeeee;
		color: #777777;
		cursor: not-allowed;
	}

	&:is(a) {
		display: inline-block;
		text-align: center;
		text-decoration: none;
	}
}
