/* Boilerplate: https://github.com/JamesRobertHugginsNgo/field-button/blob/4410ff0dba93fc23d3a63949f42da4898926bcb9/src/style.css */
/* Boilerplate: https://github.com/JamesRobertHugginsNgo/field-button/blob/1.0.1/src/style.css */

.field-button {
	background-color: white;
	border: 1px solid darkgrey;
	border-radius: 0.25rem;
	color: black;
	cursor: pointer;
	font-size: 0.875em;
	line-height: normal;
	padding: 0.5rem 1rem;

	&:hover {
		background-color: #eeeeee;
		color: black;
	}

	&:active,
	&:visited {
		background-color: white;
		color: black;
	}
}