@import url(field.css);
@import url(field-button.css);
@import url(field-input.css);
@import url(field-input-group.css);
@import url(page-width.css);

body {
	margin: 0;
}

main {
	margin-left: 1rem;
	margin-right: 1rem;
}

.field {
	margin-bottom: 1rem;
	margin-top: 1rem;
}
